.Card {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Image {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Yogurt {
  background-image: url('../../../assets/images/yogurt.jpg');
}
.Icecream {
  background-image: url('../../../assets/images/icecream.jpg');
}
.Waffle {
  background-image: url('../../../assets/images/waffle.jpg');
}
.MoreInfo {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Button {
  width: 60%;
  padding: 0.6rem 2rem;
  background-color: #9ce0a4;
  border: 3px solid rgb(66, 28, 28);
  color: rgb(66, 28, 28);
  text-align: center;
  font-size: 1.1rem;
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Button:hover {
  cursor: pointer;
  background-color: rgb(66, 28, 28);
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
