.BuildControl {
  background-color: white;
  margin: 1rem;
  width: 60%;
}

.BuildControl button {
  margin: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}
.BuildControl button:hover {
  cursor: pointer;
}
