.Product {
  width: 300px;
  height: 200px;
  background-color: rgb(245, 219, 224);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.5);
}
