.Product {
  width: 100%;
  max-width: 500px;
  height: 280px;
  background-color: white;
  color: black;
  border-color: 2px solid var(--brown-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.Content {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Img {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Button {
  width: 60%;
  padding: 0.4rem 1.5rem;
  background-color: transparent;
  border: 3px solid rgb(66, 28, 28);
  text-align: center;
  font-size: 1.1rem;
  border-radius: 50px;
  transition: background-color 0.3s;
}
.Button:hover {
  cursor: pointer;
  background-color: rgb(66, 28, 28);
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
