.Modal {
  position: absolute;
  z-index: 500;
  background-color: white;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 16px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.Close{
  position: absolute;
  top: -12px;
  left: -5px;
  color: var(--pink-color);
}

.Close:hover{
  cursor: pointer;
}
@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
