.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  text-align: center;
  background-color: rgb(243, 193, 203);
}
