.Button {
  padding: 0.6rem 2rem;
  background-color: var(--bg-color);
  color: rgb(66, 28, 28);
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin: 0.5rem;
}
.PinkButton {
  border: 2px solid var(--pink-color);
  box-shadow: 5px 5px var(--light-pink-color);
  transition: background-color 0.3s;
}
.GreenButton {
  border: 2px solid var(--green-color);
  box-shadow: 5px 5px var(--light-green-color);
  transition: background-color 0.3s;
}

.Button:hover {
  cursor: pointer;
}
.PinkButton:hover {
  background-color: var(--pink-color) !important;
  color: var(--bg-color);
}
.GreenButton:hover {
  background-color: var(--green-color) !important;
  color: var(--bg-color);
}


@media (max-width: 460px) {
  .Button {
    padding: 0.3rem 1.6rem;
    font-size: 0.6rem;
    transition: background-color 0.3s;
  }
}
