.Content {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OrdersSummary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CartItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.cartItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 0.8rem;
  direction: rtl;
  position: relative;
}
.Images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Img {
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.AmountPrice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.AmountEditContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Amount {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 2px solid var(--pink-color);
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.Plus,
.Minus {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Plus:hover,
.Minus:hover {
  color: var(--pink-color);
  cursor: pointer;
}
.Remove {
  position: absolute;
  top: 20px;
  left: 30px;
  color: var(--pink-color);
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Remove:hover {
  cursor: pointer;
}
span {
  padding: 0.5rem;
}
.Header {
  font-weight: 600;
}
.Pay {
  padding: 2rem;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.PinkWhiteButton {
  padding: 0.6rem 2rem;
  background-color: white;
  color: rgb(66, 28, 28);
  text-align: center;
  font-size: 1.1rem;
  border-radius: 10px;
  position: relative;
  margin: 0.5rem;
  border: 2px solid var(--pink-color);
  box-shadow: 5px 5px var(--light-pink-color);
}
.PinkWhiteButton:hover {
  background-color: var(--pink-color) !important;
  color: white;
  cursor: pointer;
}

.Empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  padding-bottom: 3rem;
}
.Edit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--pink-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Edit:hover {
  cursor: pointer;
  background-color: var(--light-pink-color);
  color: white;
}
b {
  color: inherit;
}
.sizeImg {
  width: 100%;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
