.ForgetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid crimson;
  padding: 2rem 3rem;
}
.FormItem {
  padding: 0.5rem;
}
