* {
  margin: 0;
  padding: 0;
}

.ImageContainer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ImageContainer::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(51, 38, 19, 0.555);
  position: absolute;
  top: 0;
  left: 0;
}
.Header {
  width: 100%;
  text-align: center;
  background-color: var(--green-color);
  color: var(--bg-color);
  padding: 4rem 6rem;
  margin-top: 100px;
}
.Header h1,
.Header p {
  color: var(--bg-color);
}
.Title {
  font-size: 42px;
  font-weight: 600;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  color: var(--bg-color);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Title p {
  font-size: inherit;
  font-weight: 600;
  text-align: center;
  color: inherit;
}
.Button {
  padding: 0.8rem 1.4rem;
  border: 3px solid var(--bg-color);
  box-shadow: 4px 4px var(--light-bg-color);
  border-radius: 10px;
  background-color: inherit;
  color: var(--bg-color);
  font-weight: 600;
  transition: background-color 0.3s;
}
.Button:hover {
  background-color: var(--bg-color);
  color: var(--green-color);
  font-weight: 600;
}
.BgButton {
  padding: 0.8rem 1.4rem;
  border: 3px solid var(--bg-color);
  border-radius: 10px;
  font-size: 18px;
  color: var(--bg-color);
  background-color: transparent;
  font-weight: 600;
  transition: background-color 0.3s;
}
.BgButton:hover {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--brown-color);
  font-weight: 600;
}
.Container {
  margin: auto;
  width: 60%;
}
.Ilu {
  width: 180px;
  height: 180px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Item {
  min-width: 270px;
  min-height: 270px;
  border-radius: 50%;
  background-color: rgb(236, 222, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 8px;
}
.Item p {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 990px) {
  .Title p {
    font-size: 28px;
    font-weight: 500;
  }
  .BgButton {
    padding: 0.5rem 1.1rem;
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    font-size: 14px;
    color: var(--bg-color);
    background-color: transparent;
    font-weight: 500;
    transition: background-color 0.3s;
  }
}
@media (max-width: 525px) {
  .Title p {
    font-size: 16px;
    font-weight: 500;
  }
  .BgButton {
    padding: 0.2rem 0.8rem;
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    font-size: 12px;
    color: var(--bg-color);
    background-color: transparent;
    font-weight: 500;
    vertical-align: top;
    transition: background-color 0.3s;
  }
  .Header {
    padding: 1.2rem;
  }
}
