.NavigationItems{
  margin: 0;
  padding: 0; 
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%; 
}
.SideNavigationItems a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 18px;
}
@media (min-width: 745px){
    .NavigationItems{
        flex-flow: row; 
      }
}