.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.NavigationItem:hover {
  cursor: pointer;
}
@media (min-width: 745px) {
  .NavigationItem {
    margin: 0;
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }

  .NavigationItem a {
    color: black;
    text-decoration: none;
    height: 100%;
    padding: 16px 18px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover {
    color: var(--green-color);
  }
}
