.OrdersContent {
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Orders {
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: var(--box-shadow-light);
  min-width: 460px;
}
.Order {
  text-align: right;
  padding: 1rem;
}
.OrderItem {
  padding-bottom: 1rem;
}
@media (max-width: 430px) {
  .Orders {
    min-width: unset;
    width: 100%;
  }
  .OrdersContent {
    padding: 1rem;
    width: 100%;
  }
}
