/*
.OurProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Container {
  width: 100%;
  display: flex;
  padding: 0 20%;
  justify-content: space-between;
  align-items: center;
}*/
.Bg {
  width: 100%;
  background-color: var(--green-color);
  color: var(--bg-color);
  padding: 5rem !important;
  margin-bottom: 3rem;
  border: 8px double var(--bg-color);
}
@media (max-width: 400px){
  .Bg{
    padding: 1.5rem !important;
  }
  h1{
    font-size: 18px;
  }
}
