.ProductBuilder {
  color: black;
  width: 100%;
  direction: ltr;
}
.Middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.FinishButton {
  margin: 1rem;
  width: 50%;
  padding: 0.4rem 2rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: var(--green-color);
  border: 3px solid var(--brown-color);
  color: var(--brown-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color 0.3s;
}
.FinishButton:hover {
  cursor: pointer;
  background-color: var(--brown-color);
  border: 3px solid var(--brown-color);
  color: white;
}
.Summary {
  background-color: var(--light-green-color);
  padding: 1rem;
  border: 6px double var(--bg-color);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .ProductBuilder {
    direction: ltr;
  }
}