.Container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Sizes {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}
.Size {
  width: 30%;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0);
}
.Img {
  width: 100%;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Size:hover {
  cursor: pointer;
}
.Active {
  cursor: pointer;
  color: var(--green-color);
  font-weight: 600;
}
.Btn {
  margin: 1rem;
  width: 40%;
  padding: 0.4rem 2rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: var(--green-color);
  border: 3px solid var(--brown-color);
  color: var(--brown-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Btn:hover {
  cursor: pointer;
  background-color: var(--brown-color);
  border: 3px solid var(--brown-color);
  color: white;
}
