.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Header {
  border-bottom: 7px dotted var(--green-color);
}
@media (max-width: 1155px) and (min-width: 768px) {
  .Controls {
    flex-direction: column;
  }

}
