.ToppingsButton {
  width: 60%;
  margin-top: 2rem;
  height: 200px;
  display: inline-block;
  max-width: 400px;
  background-color: aliceblue;
  transition: background-color 0.3s;
}
.ToppingsButton:hover {
  cursor: pointer;
}
