* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LogIn {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginForm {
  direction: rtl;
  width: 300px;
  padding: 32px;
  border: 2px solid crimson;
  border-radius: 1%;
  margin: 100px;
}
.LoginItem {
  margin-top: 16px;
  width: 100%;
}
.InputField {
  height: 30px;
}
.LoginButton {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}
